body{
    background-image: linear-gradient(to left, rgba(213, 215, 243, 0.973) , rgba(5, 2, 202, 0.973));
    color : white;
    font-family: Arial, Helvetica, sans-serif;
}

#row{
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(11, 7, 70, 0.658);
}

#card{
    text-align: center;
    border-radius: 15px;

}

textarea{
    border-radius: 10px;
}